@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
}

html {
  font-size: 14px;
}

@media screen and (max-width: 575px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: arial, sans-serif;
  table-layout: fixed;
  width: 100%;
}

thead {
  margin: 0;
  position: sticky;
  top: 0;
}

#stage {
  background-color: #f1f1f1;
  opacity: 0.8;
  background-image: radial-gradient(#727272 1.1500000000000001px, transparent 1.1500000000000001px),
    radial-gradient(#727272 1.1500000000000001px, #f1f1f1 1.1500000000000001px);
  background-size: 46px 46px;
  background-position: 0 0, 23px 23px;
}
